# Build files
build

# Temp files
*.log
*.db
*.tox
*.egg-info

# IDE / env settings
.vscode
venv

# Unit test / coverage reports
*.html
*.js
.coverage
cov.xml

# Python type checking
.mypy_cache/
.pyre/
.pytest_cache
__pycache__
