# Build files
build

# Temp files
*.log
*.db
*.tox
*.egg-info
*.pyc

# IDE / env settings
.vscode
venv

# Unit test / coverage reports
temp*
*.html
*.js
.coverage
cov.xml

# Python type checking
.mypy_cache/
.pyre/
.pytest_cache
__pycache__
